* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(photo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    font-size: 18px;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    display: inline-block;
}

.social-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-button {
    width: 300px;
    padding: 10px;
    letter-spacing: 1px;
    margin: 10px;
}

.social-button:hover {
    background-color: #000;
    transition: .5s;
}

.social-text {
    width: 150px;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .5);
    padding: 0 10px;
}

.right-text {
    padding-left: 10px;
    font-size: 12px;
}

.fab {
    width: 30px;
    text-align: center;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #55acee;
}

.instagram {
    background-color: #e4405f;
}

.youtube {
    background-color: #cd201f;
}

.whatsapp {
    background-color: #25d366;
}

.linkedin {
    background-color: #0077b5;
}
